@font-face{
    font-family: 'Raleway';
    src: url('Police/Raleway.ttf') format('truetype');
}
@font-face{
    font-family: 'Raleway-Bold';
    src: url('Police/Raleway-Bold.ttf') format('truetype');
}
body{
    margin: 0;
    font-family: 'Raleway-Bold';
    width: auto;
}
#bloc_page{
    max-width: 1440px;
    margin: auto;
}
a{
    color: unset;
    text-decoration: unset;
    display: block;
}
#imglogo{
    margin-top: 50px;
    height: 3.5em;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    padding-left: 55px;
}
nav{
    margin-right: 30px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    width: 29em;
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
}
.liennav{
    width: 33%;
    text-align: center;
    padding-top: 50px;
}
.liennav:nth-child(1){
    font-family: 'Raleway';
}
.liennav:nth-child(2){
    font-family: 'Raleway';
}
.liennav:nth-child(3){
    color: #0065FC;
}
#recherche{
    display: flex;
}
.fa-map-marker-alt{
    padding-top: 15px;
}
#entete{
    padding-left: 55px;
}
#entete h1{
    font-size: 1.4em;
    margin: 0;
}
#entete p{
    font-size: 1em;
    font-family: 'Raleway';
    margin-top: 0.5em;
}
.boitelogolocalisation{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 1em 0 0 1em;
    background-color: #e2e2e2;
}
#barrerecherche{
    width: 240px;
    height: 50px;
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
    border: unset;
    border-top: #e2e2e2 solid 2px;
    border-bottom: #e2e2e2 solid 2px;
}
#boutonrecherche{
    width: 135px;
    height: 50px;
    font-size: 1.1em;
    font-family: 'Raleway';
    background-color:  #0065FC;
    border: unset;
    border-radius: 0 1em 1em 0;
    color: white;
}
#boutonrecherche p{
    font-size: 1em;
    padding-left: 1em;
    padding-top: 5px;
}
#boutonrecherchemobile{
    display: none;
    background-color:  #0065FC;
}
.logofiltre i{
    width: 1.2em;
    color: #0065FC;
}
#filtres{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.logofiltre{
    width: 52px;
    height: 34.5px;
    text-align: center;
    padding-top: 1.1em;
    background-color: #DEEBFF;
    border-radius: 2em;
    position: relative;
    left: -3.5px;
    top: -1.7px;
}
.logofiltre2{
    width: 50px;
    height: 41px;
    text-align: center;
    padding-top: 0.7em;
    background-color: #DEEBFF;
    border-radius: 2em;
    position: relative;
    left: -3px;
    top: -1.85px;
}
.boutonfiltre{
    border: solid #cacaca 2px;
    height: 48px;
    border-radius: 2.7em;
    margin-right: 20px;
    margin-top: 5px;
}
.lienfiltre{
    display: flex;
}
.logofiltre2 i{
    color: #0065FC;
    padding-top: 5px;
}
.boutonfiltre p{
    margin: 0;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 20px;
}
#filtres h2{
    margin-right: 2em;
    font-size: 1.2em;
}
.fa-info{
    color: #0065FC;
}
#i{
    margin-top: 4em;
    display: flex;
}
#i p{
    margin: 0;
    font-family: 'Raleway';
    padding-top: 3px;
    margin-left: 0.6em;
    font-size: 1em;
}
.logoi{
    border: solid #cacaca 2px;
    height: 20px;
    width: 20px;
    border-radius: 2em;
    text-align: center;
}
.etoilepleine{
    width: 0.9em;
    color: #0065FC;
}
.etoilevide{
    width: 0.9em;
   color: #acacac;
}
.petitcarre{
    border-radius: 1.5em;
    width: 30%;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.230);
}
#hebergement{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
#marseille{
    border-radius: 2em;
    width: 60.7%;
    height: 625px;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.);
}
#propositionhebergement{
    height: 75%;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imagehebergement{
    width: 96%;
    height: 56%;
    margin: auto;
    margin-top: 4px;
    border-radius: 1.2em 1.2em 0 0;
    background-size: cover;
    background-position: center;
}
.imagehebergement1{
    background-image: url('Hebergement/hebergement1.jpg');
}
.imagehebergement2{
    background-image: url('Hebergement/hebergement2.jpg');
}
.imagehebergement3{
    background-image: url('Hebergement/hebergement3.jpg');
}
.imagehebergement4{
    background-image: url('Hebergement/hebergement4.jpg');
}
.imagehebergement5{
    background-image: url('Hebergement/hebergement5.jpg');
}
.imagehebergement6{
    background-image: url('Hebergement/hebergement6.jpg');
}
.imagehebergement7, .imagehebergement8, .imagehebergement9{
    width: 35%;
    height: 94%;
    margin: auto;
    margin-left: 5px;
    margin-right: 0;
    border-radius: 1.2em 0 0 1.2em;
    background-size: cover;
    background-position: center;
}
.imagehebergement7{
    background-image: url('Hebergement/hebergement7.jpg');
}
.imagehebergement8{
    background-image: url('Hebergement/hebergement8.jpg');
}
.imagehebergement9{
    background-image: url('Hebergement/hebergement9.jpg');
}
.afficher{
    font-size: 1.2em;
    margin-top: 15px;
}
.texthebergement h3{
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: 'Raleway-Bold';
    font-size: 1em;
}
.texthebergement p{
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Raleway',sans-serif;
    font-size: 0.9em;
}
.texthebergement{
    margin-left: 20px;
}
#marseille h2{
    margin-top: 50px;
    font-family: 'Raleway-Bold';
    font-size: 1.4em;
    margin-bottom: 0;
}
#populaire{
    width: 32%;
    height: 625px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.);
}
.petitcarre2{
    display: flex;
    border-radius: 1.5em;
    width: 85%;
    height: 145px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.230);
    margin: auto;
}
#propositionpopulaire{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#populaire h2{
    margin-top: 2em;
    font-family: 'Raleway-Bold';
    font-size: 1.4em;
    margin-left: 2em;
    margin-bottom: 10px;
}
.stonk{
    width: 1.4em;
    height: 1.4em;
    margin-top: 2.9em;
    margin-right: 1.5em;
}
#titrepopulaire{
    display: flex;
    justify-content: space-between;
}
.texthebergement2 h3{
    margin-top: 10px;
    padding-right: 30px;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 1em;
    margin-bottom: 0;
}
.texthebergement2 p{
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    margin-bottom: 40px;
}
.texthebergement2{
    padding-left: 20px;
    width: 210px;
}
#activites h2{
    margin-top: 3em;
    font-family: 'Raleway-Bold';
    font-size: 1.4em;
}
.petitcarre3{
    width: 23%;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
}
#propositionactivites{
    height: 445px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.activites2{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imageactivite1{
    background: url("Activites/activite1.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 87%;
    border-radius: 1.5em 1.5em 0 0;
}
.imageactivite4{
    background: url("Activites/activite4.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 87%;
    border-radius: 1.5em 1.5em 0 0;
}
#activites h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    margin-left: 25px;
}
.petitcarre4{
    height: 55%;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
}
.petitcarre5{
    height: 37%;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
}
.imageactivite2{
    background: url("Activites/activite2.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 77%;
    border-radius: 1.5em 1.5em 0 0;
}
.imageactivite6{
    background: url("Activites/activite6.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 77%;
    border-radius: 1.5em 1.5em 0 0;
}
.imageactivite3{
    background: url("Activites/activite3.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 65%;
    border-radius: 1.5em 1.5em 0 0;
}
.imageactivite5{
    background: url("Activites/activite5.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 65%;
    border-radius: 1.5em 1.5em 0 0;
}
#activites{
    padding-left: 50px;
    padding-right: 50px;
}
footer{
    background-color: #F2F2F2;
}
.infobas{
    margin-left: 5em;
    margin-top: 1.5em;
    width: 20%;
}
.infobas h3{
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
    margin-bottom: 30px;
}
.infobas a{
    margin-bottom: 0.9em;
    font-family: 'Raleway';
    font-size: 0.9em;
}
#conteneur{
    display: flex;
    max-width: 1440px;
    margin: auto;
    height: 17em;
}
.petitcarre:hover{
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}
.petitcarre2:hover{
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}
.petitcarre3:hover{
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}
.petitcarre4:hover{
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}
.petitcarre5:hover{
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}
.boutonfiltre:hover{
    color: #0065FC;
    border:#0065FC 2px solid;
}
.infobas a:hover{
    color:  #0065FC;
}
.liennav:hover{
    border-top: solid 3px #0065FC;
    color: #0065FC;
    padding-top: 47px;
}
#boutonrecherche:hover{
    text-shadow: white 0px 0px 6px;
}
@media screen and (max-width: 1245px)
{
    #bloc_page{
        width: auto;
    }
    #hebergement{
        flex-direction: column-reverse;
    }
    #populaire{
        width: auto;
        margin-left: 0;
    }
    #filtres{
        width: 100%;
    }
    #marseille{
        margin-right: 0;
        width: auto;
    }
    #propositionactivites{
        align-items: center;
        flex-direction: column;
        width: auto;
        height: 80em;
    }
    .activites2{
        width: 100%;
        height: 23%;
        flex-direction: row;
    }   
    .petitcarre3{
        width: 100%;
        height: 23%;
    }
    .petitcarre4{
        width: 48%;
        height: 100%;
    }
    .petitcarre5{
        width: 48%;
        height: 100%;
    }
    .imgact{
        height: 80%;
    }
}
@media screen and (max-width: 1000px)
{
    header{
        flex-direction: column;
        padding: 0;
    }
    #imglogo{
        width: 7.5em;
        margin-left: 2em;
    }
    #marseille{
        height: 57em;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    #marseille h2{
        padding-left: 1em;
    }
    #propositionhebergement{
        justify-content: space-around;
        height: 80%;
    }
    .petitcarre{
        width: 45%;
    }
    .liennav:nth-child(1){
        border-top: unset;
        border-bottom: solid 4px #cacaca85;
        width: 50%;
        font-size: 0.7em;
        padding-bottom: 15px;
    }
    .liennav:nth-child(2){
        width: 50%;
        color: black;
        font-size: 0.7em;
        border-bottom: solid 4px #cacaca85;
        padding-bottom: 15px;
    }
    .liennav:nth-child(3){
        position: absolute;
        top: 1.5em;
        right: 3em;
        font-size: 0.7em;
        color: #0065FC;
        width: 5em;
        padding-top: 20px;
    }
    nav{
        margin: 0;
    }
    .liennav{
        width: 50%;
        padding-top: 3em;
    }
    nav ul{
        margin: 0;
        width: 100%;
        align-items: flex-end;
        font-size: 1.4em;
    }
    .liennav:nth-child(1):hover{
        border-top: unset;
        border-bottom: 4px solid #0065FC;
    }
    .liennav:nth-child(2):hover{
        border-top: unset;
        border-bottom: 4px solid #0065FC;
    }
    .liennav:nth-child(3):hover{
        border-top: unset;
    }
    .afficher{
        padding-top: 1.5em;
        padding-left: 1em;
    }
    #populaire{
        margin: 0;
    }
    #i{
        margin-bottom: 2em;
    }
    #entete, #hebergement, #activites{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 750px)
{
    nav{
        margin: 0;
    }
    #entete{
        padding-left: 1em;
        padding-right: 1em;
    }
    #hebergement{
        padding-left: 1em;
        padding-right: 1em;
    }
    #activites{
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 5em;
    }
    .petitcarre{
        width: 100%;
        height: 15%;
    }
    .imagehebergement1, .imagehebergement2, .imagehebergement3, .imagehebergement4, .imagehebergement5, .imagehebergement6{
        width: 98.6%;
    }
    #marseille{
        height: 130em;
    }
    #propositionhebergement{
        height: 90%;
    }
    .afficher{
        margin-top: 50px;
    }
    #activites h2{
        margin-top: 1em;
    }
    #propositionactivites{
        margin: 0;
        margin-bottom: 2em;
        height: 95em;
    }
    .activites2{
        flex-direction: column;
        height: 33%;
    }
    .petitcarre3{
        width: 100%;
        height: 16%;
        margin: auto;
        margin-bottom: 1.5em;
    }
    .petitcarre4{
        width: 100%;
        margin: auto;
        margin-bottom: 1.5em;
    }
    .petitcarre5{
        width: 100%;
        margin: auto;
        margin-bottom: 1.5em;
    }
    #activites h3{
        margin-top: 10px;
    }
    .infobas{
        margin-left: 2em;
        margin-right: 3em;
    }
    footer{
        height: 18em;
    }
}
@media all and (max-width: 480px)
{
    #bloc_page{
        width: auto;
    }
    header{
        flex-direction: column;
        margin-bottom: 2em;
        padding: 0;
    }
    .liennav:nth-child(3){
        right: 15px;
    }
    #imglogo{
        width: 7.5em;
        margin-top: 1.5em;
    }
    #boutonrecherche{
        display: none;
    }
    #barrerecherche{
        border-top: 1.5px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
    }
    #boutonrecherchemobile{
        display: unset;
        width: 3.1em;
        text-align: center;
        border-radius: 1em;
        position: relative;
        left: -15px;
        color: white;
        height: 50px;
    }
    .loupe{
        width: 1.1em;
        padding-top: 15px;
    }
    #entete{
        padding: 0;
        margin-left: 1em;
        margin-right: 1em;        
    }
    #entete h1{
        font-size: 1.5em;
    }
    #entete p{
        font-size: 1em;
        margin-top: 0;
    }
    #recherche{
        height: 3em;
        margin: auto;
        margin-top: 2em;
        padding-left: 1em;
    }
    .boitelogolocalisation{
        height: 50px;
        width: 50px;
    }
    #barrerecherche{
        width: 70%;
        font-size: 1.1em;
    }
    .marker{
        padding-top: 0.85em;
        width: 0.8em;
    }
    .boutonfiltre{
        font-size: 1.1em;
        margin: 0;
        margin-right: 0.3em;
        margin-bottom: 0.4em;
        height: 2.4em;
        padding-bottom: 7px;
    }
    #filtres h2{
        margin-right: 10em;
        font-size: 1.3em;
    }
    footer{
        height: 100%;
    }
    #conteneur{
        flex-direction: column;
        height: 100%;
    }
    .infobas{
        width: 100%;
    }
    .logofiltre{
        height: 34px;
        width: 3em;
        top: -2px;
    }
    .logofiltre2{
        height: 2.35em;
        width: 3em;
        top: -2px;
    }
    .lienfiltre p{
        padding-top: 14px;
        padding-left: 4px;
    }
    #i{
        margin-top: 1em;
        font-size: 0.9em;
        margin-bottom: 2em;
    }
    .logoi{
        height: 1.3em;
        border: 1px solid rgba(0, 0, 0, 0.363);
    }
    .svgi{
        padding-top: 4px;
    }
    #hebergement{
        padding: 0;
    }
    #populaire{
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    #populaire h2{
        margin-left: 1em;
    }
    .imagehebergement1, .imagehebergement2, .imagehebergement3, .imagehebergement4, .imagehebergement5, .imagehebergement6{
        width: 97%;
    }
    .petitcarre2{
        width: 90%;
    }
    .imagehebergement7{
        width: 50%;
    }
    .imagehebergement8{
        width: 50%;
    }
    .imagehebergement9{
        width: 50%;
    }
    #populaire p{
        font-family: 'Raleway';
        margin-bottom: 40px;
    }
    #populaire h3{
        margin-bottom: 10px;
    }
    #propositionhebergement{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 90%;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
    .petitcarre{
        width: 95%;
        margin: auto;
    }
    #marseille{
        height: 115em;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        background-color: unset;
        box-shadow: unset;
        padding: 0;
    }
    #marseille h2{
        margin-left: 1em;
    }
    .afficher{
        margin-left: 1em;
        margin-top: 1em;
    }
    #activites{
        padding: 0;
        margin: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
    #activites h2{
        margin-top: 1em;
    }
    #propositionactivites{
        margin: 0;
        margin-bottom: 2em;
        height: 95em;
    }
    .activites2{
        flex-direction: column;
        height: 33%;
    }
    .petitcarre3{
        width: 100%;
        height: 16%;
        margin: auto;
        margin-bottom: 1.5em;
    }
    .petitcarre4{
        width: 100%;
        margin: auto;
        margin-bottom: 1.5em;
    }
    .petitcarre5{
        width: 100%;
        margin: auto;
        margin-bottom: 1.5em;
    }
    #activites h3{
        margin-top: 10px;
    }
    .infobas{
        width: 80%;
    }
}
@media screen and (max-width: 365px)
{
    .texthebergement2 h3{
        padding-right: 0;
    }
}